# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.venv/
.env/
*.log

# VSCode
.vscode/

# Mac
.DS_Store

# Database files
*.db
*.db.bak
*.sqlite3

# Ignore commands file
commands.txt

# Alembic migration cache
alembic/__pycache__/
alembic/versions/__pycache__/